@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* @layer components {
  .rmdp-day-picker {
      @apply flex flex-row w-[900px] gap-[55px] ;
    }
    .rmdp-day-picker > div {
      @apply w-full ;
    }
    .rmdp-shadow {
      @apply p-6 rounded-[35px] ;
  
    }
  
    .rmdp-ep-arrow {
      @apply hidden ;
    }
    .rmdp-header-values > span {
      @apply text-base font-semibold leading-[1.2] mt-[0.67em] mb-[0.67em] text-left ;
    }
    .rmdp-header-values span {
      @apply pl-[1px] ;
    }
    .rmdp-week > div {
      @apply text-[#6A6A6A] font-semibold ;
    }
  
    .rmdp-arrow {
      @apply inline-block border-r-2 border-b-2 border-[#6A6A6A] h-[9px] w-[9px] p-[2px];
    }
    
    .rmdp-wrapper {
      @apply rounded-[30px] ;
    }
    
    .rmdp-border-bottom {
      @apply border-b-0 ;
    }
  } */

.rmdp-day-picker {
  width: 900px;
  display: flex;
  flex-direction: row; 
}

.rmdp-day-picker > div {
  width: 100% !important;
}

.rmdp-shadow {
  padding: 25px;
  border-radius: 35px;
}

.rmdp-ep-arrow {
  display: none;
}

.rmdp-header-values > span{
  font-size: 1rem; 
  font-weight: 700; 
  line-height: 1.2; 
  margin-top: 0.67em; 
  margin-bottom: 0.67em;
  text-align: left; 
}
.rmdp-header-values span {
  padding: 0 0 0 1px;
}
.rmdp-week > div{
color : #6A6A6A ;
font-weight: 700
}
.rmdp-arrow {
  border: solid #6A6A6A;
  border-width: 0 2px 2px 0;
  display: inline-block;
  height: 9px;
  padding: 2px;
  width: 9px;
}

.rmdp-wrapper {
  border-radius: 30px !important;
}

.rmdp-day-picker {
  gap: 55px;
}

.rmdp-border-bottom {
  border-bottom: unset !important;
}


