.input-number input:focus-visible {
  outline: 0;
}

.range-slider {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #8a8a8a;
  border-radius: 5px;
}

.range-slider input[type="range"] {
  position: absolute;
  width: 100%;
  top: 0;
  transform: translateY(-50%);
  background: none;
  pointer-events: none;
  appearance: none;
  height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid gray;
  background: white;
  pointer-events: auto;
  appearance: none;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.5625rem -0.125rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 2; /* Ensure thumbs appear above the track */
}

/* Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
